.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1DB954;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-left: 29em;
}

.navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 37em;
}

.navLinks li {
    margin-left: 10px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.navLink:hover {
    background-color: white;
    color: #1DB954;
}

.searchForm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchInput {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.searchButton {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #555;
}
